// Tablets and small desktops
$screen-lg-min: 992px;

//setting up mixins

@mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
}

.global-nav{
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    background: #10504F;
    .nav-child{
        flex: 2 1 auto;
        padding: 10px 18px;
        display: inherit;
        align-items: center;
    }
    .right{
        justify-content: flex-end;
        padding-right:0px;
        img{
            margin-right:18px;
        }
    }
    .desktop-nav{
        display:none;
        color: #fff;
        font-family: 'Lato';
        font-weight: 100;
        @include lg{
            display:inherit;
        }
        ul{
            display:inherit;
            width: 100%;
            justify-content: space-between;
        }
    }
    .burger-icon{
        width: 28px ;
        display:inline-flex;
        margin: 0 33px 0 0;
        @include lg{
            display: none;
        }
    }
    .logo{
        position: relative;
        width:4.5rem;
        height: auto;
    }
    a{
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
    }
}